
#g_carte {
    #kanvas {
        display: unset;

        #footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;

            .buttons {
                display: flex;
                justify-content: space-around;
                padding: 0 2rem 1rem 2rem;
                cursor: default;

                & button {
                    &.success {
                        background-color: var(--success-color);
                    }
    
                    &.fail {
                        background-color: var(--fail-color);
                    }
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                width: 100%;
                background-color: white;

                & div {
                    padding: 0 0.25rem;
                }
            }
        }
    }

    .left-tools.show {
        display: unset;
    }   
}
