
#menu_area {
    width: var(--canvas-width);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--tools-bg-color);

    .menu-content {
        display: flex;
        justify-content: space-between;

        .menu-top {
            padding: 0.25rem;
        }

        #menu_center {
            width: 48px;
            text-align: center;

            & img {
                height: 32px;
                padding-top: 4px;
            }
        }

        #menu_right {
            width: 40px;
            line-height: 2rem;

            padding-right: 4px;
            margin: 4px;

            text-align: center;

            &.success {
                background-color: var(--success-color);
                box-shadow: 0 0 6px var(--success-color);
                border-radius: 50%;
            }
        }
    }
}

.menu {
    position: absolute;
    top: -310px;
    left: 0;
    transition: top 0.4s ease-in-out;
    cursor: default;

    width: 100%;
    z-index: 1;
    background-color: white;
    background-color: var(--tools-bg-color);
    font-size: x-large;

    & ul {
        padding: 0.5rem 1rem 1.5rem 3rem;
        margin: 0;
        list-style: none;

        & li {
            margin-bottom: 0.5rem;
            padding-left: 32px;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 0 4px;

            & span:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            & a {
                color: inherit;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        li#paquets_add_pack, li#paquet_add_card, #canvas_add_card, #canvas_add_face { background-image: url("../icones/icone-plus.svg"); }
        li#paquet_restart_pack { background-image: url("../icones/icone-redo.svg"); }
        li#paquet_delete_pack, #canvas_delete_card, #canvas_delete_face { background-image: url("../icones/icone-trash.svg"); }
        li#paquet_goto_packs, #canvas_goto_pack { background-image: url("../icones/icone-back.svg"); }
        li#canvas_edit { background-image: url("../icones/icone-edit.svg"); }
    }

    &.opened {
        top: 35px;
    }
}

