#modal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: var(--canvas-width);
    height: 100%;
    padding-top: 200px;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        width: 80%;
        margin: auto;
        padding: 30px;
        border: 6px solid #dd852b;
        border-radius: 20px;
        box-shadow: 8px 8px 12px hsla(0, 0%, 0%, .3);
        background-color: var(--popup-bg-color);
    }

    .modal-title {
        font-weight: 600;
        font-size: 125%;
        margin: 0.5rem 0 1rem;

        &.centered {
            text-align: center;
        }
    }

    & input {
        font-size: 125%;
        display: block;
        width: 100%;
        margin: 1rem 0;
        padding: 2%;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
    }

    .buttons-row {
        margin: 1.5rem 0 0;        
    }

    & button {
        font-size: 125%;

        &.ok {
            float: right;
            background-color: var(--success-color);
        }

        &.cancel {
            background-color: var(--fail-color);
        }

        &:active {
            transform: scale(0.85);
        }
    }
}
