
.left-tools {
    grid-column: 1;
    grid-row: 2;

    width: calc(var(--tools-width) + 1rem);
    justify-self: end;
    margin-right: 2rem;
    box-shadow: var(--box-shadow-2);
    padding: 0.5rem;
    background-color: var(--tools-bg-color);

    .tools-nav {
        text-align: center;
        & button {
            padding: 4px;
        }
    }

    .tool-section {
        margin: 1rem 0 0.25rem 0;
        border-bottom: 1px solid #aaa;
    }

    .tools-action {
        .action-buttons {
            margin: 0.5rem 0 0.25rem 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    .color-cells {
        display: flex;
        flex-wrap: wrap;
        div {
            width: 50px;
            height: 50px;
            border: 8px solid var(--tools-bg-color);
         }

         .selected {
            border: 8px solid transparent;
        }
    }

    .brush-cells, .size-cells, .opacity-cells {
        display: flex;
        div {
            width: 33%;
            height: 50px;
            padding-left: 10px;
            border-bottom: 4px solid var(--tools-bg-color);
         }

         .brush-image {
            height: 40px;
            width: auto;
         }
         
         .selected {
            border-bottom: 3px dotted #666;
        }    
    }

    #cell_heart {
        padding-left: 16px;
    }

    #cell_bar {
        padding-left: 13px;
    }

    & button {
        border-width: 3px;
    }
}
